<configuration>

    <!-- Set up a console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Specific loggers -->
    <logger name="org.springframework.web" level="DEBUG" />
    <logger name="com.example.sbfirst" level="INFO" />
</configuration>